*{
  margin: center;
  padding: 0;
  text-align: center;
  background-color: rgb(148, 240, 209);
  color: rgb(13, 3, 95);
}

input {
  border: 2px solid rgb(208, 205, 224);
  padding: 10px;
}

.task_items {
  /* border: 2px dotted rgb(162, 0, 255); */
  margin: 30px 90px;
  padding: 10px;
}

h1 {
  margin: 50px 0 20px 0;
  font-size: 50px;
  border-bottom: 5px solid rgb(208, 205, 224);
}

h3 {
  border: 2px solid black;
}